{{ define "main" }}

{{ if .Title  }}
    <h1 class="text-3xl my-4">{{ .Title  }}</h1>
{{ end }}

{{ if .Params.featured_image }}
    <div><img src="./images/{{ .Params.featured_image }}" /></div>

{{ end }}

{{ if .Content }}
<div class="my-4">
    {{ .Content }}
</div>
{{ end }}
{{- range (.Paginator 5).Pages }}

    {{ if eq .Type "post" }}
        <article class="container pb-1 mb-14 mt-12">
            <header>
                <h2 class="text-3xl font-sans font-normal">
                    <a href="{{ .Permalink }}">
                        {{ .Title | markdownify }}
                    </a>
                </h2>
                {{ partial "metadata.html" . }}
                <div class="border-b border-neutral-600 w-14 h-5 mb-10"></div>

            </header>
            <div class="font-sans font-light text-gray-900
                        border-b border-neutral-200
                        ">
                {{ .Content  }}
            </div>
            {{ partial "metadata-bottom.html" . }}
        </article>
        {{ end }}
    {{- end }}
    {{ template "_internal/pagination.html" . }}
{{ end }}
