<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    {{- partial "head.html" . -}}
<body>
    <div class="flex flex-col h-screen justify-between">
        <div class="container max-w-screen-md mx-auto">
            {{- partial "header.html" . -}}
        </div>
    <div class="w-full bb-1 border-t border-neutral-200">

    </div>
        <div class="
            content
            container
            max-w-screen-md
            mx-auto
            mb-auto
            mt-8
            pb-16
            ">
        {{- block "main" . }}{{- end }}
        </div>
    {{ partial "footer.html" . }}
    </div>
</body>
</html>
