<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{- partial "head.html" . -}}
<body>
  <div class="flex flex-col h-screen justify-between">
    {{- partial "header.html" . -}}

    <div class="
                container
                max-w-screen-md
                mx-2
                px-2
                pb-16
                mb-auto
                mt-52
                md:mx-auto
                md:px-0
                md:mt-24
                md:mx-0
                ">
      {{- block "main" . }}{{- end }}
    </div>{{- partial "footer.html" . -}}
  </div>
</body>
</html>
