{{ define "main" }}

{{ if .Params.featured_image }}
<div><img src="{{ .Permalink }}images/{{ .Params.featured_image }}" /></div>

{{ end }}
<article class="pb-4 mb-10">
    {{ if .Title }}
    <header>
        <h1 class="text-3xl font-sans font-normal">{{ .Title | markdownify }}</h1>
        {{ partial "metadata.html" . }}
        <div class="border-b border-neutral-600 w-14 h-8 mb-14"></div>
    </header>
    {{ end }}
    <div class="mt-3 font-sans font-light text-gray-900">
        {{ .Content }}
    </div>
    {{ partial "metadata-bottom.html" . }}

    {{ if not and (.Params.disable_share .Params.reply_to_disable) }}
    <div class="mt-10">
        {{ if not ($.Param "disable_share") }}
        <div class="mb-5 flex space-x-2.5 items-end">
            {{ partial "social_share.html" . }}
        </div>
        {{ end }}

        {{ if not .Params.reply_to_disable }}
        <div>
            {{ partial "reply_by_email.html" . }}
        </div>
        {{ end }}
    </div>
    {{ end }}

</article>



{{ if not .Params.mailchimp_hide_subscription_box }}
{{ partial "subscribe-form.html" . }}
{{ end }}
{{ end }}