<footer class="footer fixed inset-x-0 bottom-0 w-full bg-black
               text-gray-100 text-sm">
    <!-- <div class="container max-w-screen-md mx-auto pt-4 py-4"> -->

        <nav class="flex
                    flex-wrap
                    w-full
                    md:py-0
                    mt-1.5
                    bg-black
                    justify-end
                    ">
            <ul class="
                       text-base
                       pt-4
                       md-flex
                       md:pt-0">
                {{ range .Site.Menus.footer }}
                <li>
                    <a class="
                              text-xs
                              text-slate-300
                              sans-serif
                              uppercase
                              font-light
                              md-pr-4
                              md:py-4
                              block
                              hover:underline"
                       href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
        <!-- </div> -->
</footer>
