<footer class="
    footer
    bottom-0
    inset-x-0
    w-full
    bg-black
    text-slate-300
    sans-serif
    font-light
    text-sm">
    <div class="container max-w-screen-md mx-auto pt-2 py-2">

        <nav class="flex
                    flex-wrap
                    w-full
                    md:py-0
                    mt-1.5
                    bg-black
                    ">
            <div class="flex-1
                        flex
                        md:py-4
                        justify-start">
            &copy; {{ with .Site.Copyright | default .Site.Title }}
            {{ now.Format "2006"}}
            {{ . | safeHTML }}
            {{ end }}
            </div>
            <ul class="
                       text-base
                       pt-4
                       md-flex
                       md:pt-0">
            <span class="font-semibold">Links</span>
                {{ range .Site.Menus.footer }}
                <li>
                    <a class="
                              text-xs
                              text-slate-300
                              sans-serif
                              uppercase
                              font-light
                              md-pr-4
                              md:py-2
                              block
                              hover:underline"
                       href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</footer>
