<header>

    <nav class="fixed
                flex
                flex-row
                border-b
                border-neutral-200
                justify-between
                w-full
                px-7
                md:py-1.5
                bg-white">
        <div class="pt-2.5 basis-1/3">
            <a href="/" title="zoia.org">
                <span class="text-xl font-semibold" style="color: rgb(252, 108, 12);">{{ .Site.Params.site_logo_left
                    }}</span><span class="text-xl font-normal" style="color: rgb(68, 68, 68);">{{
                    .Site.Params.site_logo_right }}
                </span>
            </a>
            <div class="hidden md:contents md:inline font-light text-neutral-400 text-sm">
                &nbsp;{{ .Site.Params.Subtitle }}
            </div>
        </div>

        <!-- New menu -->
        <ul id="menu" class="hidden fixed top-0 right-0 px-10 py-16 z-50
                            md:relative md:flex md:p-0 md:flex-row md:space-x-6">
            <li class="md:hidden z-90 fixed top-4 right-6">
                <a href="javascript:void(0)" class="text-right text-4xl" onclick="toggleMenu()">&times;</a>
            </li>
            <li>
                <a class="text-black" href="#">Home</a>
            </li>
            <li>
                <a class="text-black" href="#">Something</a>
            </li>
        </ul>
        <div class="flex items-center md:hidden">
            <button class="text-4xl font-bold duration-300" onclick="toggleMenu()">
                &#9776;
            </button>
        </div>
        <script>
            var menu = document.getElementById('menu');
            function toggleMenu() {
                menu.classList.toggle('hidden');
                menu.classList.toggle('w-full');
                menu.classList.toggle('h-screen');
            }
        </script>
        <!-- new menu -->

        <!--
        <ul 
        
         class="hidden
                    basis-2/3
                   flex
                   flex-col
                   md:flex-auto
                   md:flex-row
                   text-base
                   pt-0
                   md:pt-0
                   justify-end
                   place-items-end
                   " 
        -->
        <ul id="menu"
            class="hidden text-base justify-end place-items-end fixed z-50 md:relative md:flex md:p-0 md:flex-row md:space-x-6">
            {{ range .Site.Menus.main }}
            <li>
                <a class="subpixel-antialiased
                          text-xs
                          text-neutral-400
                          sans-serif
                          uppercase
                          font-light
                          pt-4
                          md:pl-4
                          md:py-4
                          block
                          hover:underline" href="{{ .URL }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>