<header>

    <nav class="fixed
                flex
                flex-row
                border-b
                border-neutral-200
                justify-between
                w-full
                px-7
                md:py-1.5
                bg-white">
        <div class="pt-2.5 basis-1/3">
            <a href="/" title="zoia.org">
                <span class="text-xl font-semibold" style="color: rgb(252, 108, 12);">{{ .Site.Params.site_logo_left
                    }}</span><span class="text-xl font-normal" style="color: rgb(68, 68, 68);">{{
                    .Site.Params.site_logo_right }}
                </span>
            </a>
            <div class="hidden md:contents md:inline font-light text-neutral-400 text-sm">
                &nbsp;{{ .Site.Params.Subtitle }}
            </div>
        </div>
        <ul id="menu" class="hidden fixed top-0 right-0 px-10 py-16 z-50
                            md:relative md:flex md:p-0 md:flex-row md:space-x-6">
            <li class="md:hidden z-90 fixed top-4 right-6">
                <a href="javascript:void(0)" class="text-right text-4xl" onclick="toggleMenu()">&times;</a>
            </li>
            <li>
                <a class="text-black" href="#">Home</a>
            </li>
            <li>
                <a class="text-black" href="#">Something</a>
            </li>
        </ul>
        <div class="flex items-center md:hidden">
            <button class="text-4xl font-bold duration-300" onclick="toggleMenu()">
                &#9776;
            </button>
        </div>
        <script>
            var menu = document.getElementById('menu');
            function toggleMenu() {
                menu.classList.toggle('hidden');
                menu.classList.toggle('w-full');
                menu.classList.toggle('h-screen');
            } a
        </script>
        <!----- ANOTHER MENU -->
        <input type="checkbox" id="nav-Checkbox" class="hidden">
        <label for="nav-Checkbox" id="nav-Toggle" class="absolute lg:hidden cursor-pointer my-1 mx-4 right-0">
            <svg id="svg-menu" class="w-6 fill-white mt-[0.3rem]" viewBox="0 0 448 512" width="100" title="bars">
                <path
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" />
            </svg>
            <svg id="svg-close" class="w-6 fill-white hidden" viewBox="0 0 384 512" width="100" title="times">
                <path
                    d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" />
            </svg>
        </label>
        <ul
            class="nav-Menu flex flex-col lg:flex-row gap-4 lg:gap-2 text-right my-2 lg:mt-1 lg:mb-0 mr-2 lg:mr-6 ml-0 mbs-0 mbe-0 pis-0">
            <li class="block py-2 my-0 mr-auto ml-6 lg:mt-0 lg:mb-1 lg:tracking-normal lg:leading-none">
                <a href="#" class="no-underline" aria-label="Home page">
                    Home
                </a>
            </li>
        </ul>
        <!--- ANOTHER MENU END -->

        <ul class="basis-2/3
                   flex
                   flex-col
                   md:flex-auto
                   md:flex-row
                   text-base
                   pt-0
                   md:pt-0
                   justify-end
place-items-end
                   ">
            {{ range .Site.Menus.main }}
            <li>
                <a class="subpixel-antialiased
                          text-xs
                          text-neutral-400
                          sans-serif
                          uppercase
                          font-light
                          pt-4
                          md:pl-4
                          md:py-4
                          block
                          hover:underline" href="{{ .URL }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>