<div class="container">

    <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
    </svg>
    <time class="text-sm font-light text-gray-500 mr-1.5 inline" datetime='{{ .Date.Format "2006-01-02" }}'>
        {{ .Date.Format (default "January 2, 2006" .Site.Params.date_format) }}
    </time>

    {{ if .Params.tags }}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
        </svg>
        {{ with .Params.tags }}
            {{ range . }}
                {{ $href := print (absURL "tags/") (urlize .) }}
                <a class="inlne font-light text-gray-500 no-underline text-xs uppercase" href="{{ $href }}">{{ . }}</a>
            {{ end }}
        {{ end }}
    {{ end }}
</div>
