{{ $url := printf "%s" .Permalink | htmlEscape }}
{{ $title := .Title }}
{{ $linkedin_href := printf "https://www.linkedin.com/shareArticle?mini=true&url=%s" $url }}
{{ $twitter_href := printf "https://twitter.com/share?url=%s&text=%s" $url $title }}

<div class="flex space-x-2 items-end">
    <a href="{{ $linkedin_href }}" target="_blank" aria-label="Share on LinkedIn">
        {{ partial "svg_linkedin.html" . }}</a>
    <a href="{{ $twitter_href }}" target="_blank" aria-label="Share on Twitter">
        {{ partial "svg_twitter.html" . }}
    </a>
</div>