@tailwind base;
@tailwind components;
@tailwind utilities;

article p {
  font-size: 16px;
  margin: 10px 0;
}

article a {
  text-decoration: underline;
  color: #0969da;
}

article h1 a,
article h2 a {
  text-decoration: none;
  color: #000;
}

article h1 {
  font-size: 2.4em;
  font-weight: 700;
  margin: 25px 0 15px 0 !important;
  line-height: 1.4em;
}

article h2 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 15px 0 10px 0 !important;
  line-height: 1.5;
}

article h3 {
  font-size: 0.9em;
  font-weight: 700;
}
/* Code highlight  */
.highlight {
  margin: 1rem;
}

pre {
  background-color: #272822;
  padding: 0.48rem;
  border-radius: 0.125rem;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 80%;
}

code {
  padding: 2px;
  background-color: #eee;
}

pre code {
  background-color: #272822;
  color: #eee;
}

article blockquote {
  margin: 2em;
  border-left: 1px solid #ccc;
  line-height: 1.3;
  padding: 5px 17px;
  font-size: 0.8em;
  background-color: #eee;
  color: #555;
}

/* Lists */
article ul {
  list-style-type: disc;
  margin: 1em 0 1em 0.6em;
  padding-left: 1em;
}

article ul ul,
article ul li ul {
  margin: 0 0 0 0.6em;
  padding-left: 0.6em;
  list-style-type: disc;
}

article ol li {
  /* https://www.joshwcomeau.com/css/styling-ordered-lists-with-css-counters/ */
  counter-increment: muffins;
}
article ol li:before {
  content: counter(muffins) ". ";
}
article ol {
  list-style: none;
  counter-reset: muffins;
  margin: 1em 0 1em 0.6em;
}

article ol li p {
  margin-top: -10px;
  display: inline;
}

/**
 * Footnotes
 **/
.footnotes {
}

.footnotes ol li p {
  margin-top: -10px;
  display: inline;
}

/**
 ** Pagination
 **/

.pagination {
  margin-bottom: 100px;
}

ul.pagination {
  list-style-type: none;
}

ul.pagination li {
  padding: 0.5em 0.6em;
  margin: 3px 3px;
  float: left;
  border: 1px solid #ccc;
  background-color: #ddd;
}

ul.pagination li.active {
}

ul.pagination li.disable {
}

ul.pagination li.page-item {
}

/*
 * Archives
 */

.archive table a {
  text-decoration: underline;
  color: #0969da;
}
